﻿body {font: normal 10px/1em Helvetica, sans-serif;}
.wrap {width: 400px; margin: 0 auto; max-width: 90%;}
.title {text-align: center; color: #970000; font-size: 2em; line-height: 1.4em; font-weight: bold; margin-top: 30px;}
.subtitle {text-align: center; color: #666666; font-size: 1.6em; line-height: 1.2em;}
.calc {margin-top: 20px; width: 100%;}
.inputbox {width: 100%; box-sizing: border-box; padding: 20px; border: 1px solid #ccc; font-size: 2em;
           text-align: right; margin-bottom: 20px; color: #970000;}
.btn {height: 50px; width: 90%; margin: 5px auto; border: 1px solid #ccc; border-radius: 7px; font-size: 1.6em; color: #970000; display: block;
      text-decoration: none; font-weight: bold; text-align: center; background-color: #fff; cursor: pointer;
}
.history {font-size: 1.2em; color: #666; line-height: 1.2em; text-align: right; margin-top: 20px}